@font-face {
    font-family: "GolosText-Regular";
    src: url("/public/fonts/GolosText-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GolosText-Medium";
    src: url("/public/fonts/GolosText-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GolosText-SemiBold";
    src: url("/public/fonts/GolosText-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GolosText-Bold";
    src: url("/public/fonts/GolosText-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
