@mixin golos-regular {
    font-family: "GolosText-Regular", sans-serif;
}

@mixin golos-medium {
    font-family: "GolosText-Medium", sans-serif;
}

@mixin golos-semi-bold {
    font-family: "GolosText-SemiBold", sans-serif;
}

@mixin golos-bold {
    font-family: "GolosText-Bold", sans-serif;
}

@mixin full-height {
    min-height: 100vh;
}
